DJANGO_SECRET_KEY=[DJANGO_SECRET_KEY]
DJANGO_DEBUG=[DJANGO_DEBUG]
DJANGO_ALLOWED_HOSTS=[DJANGO_ALLOWED_HOSTS]

API_KEY=[API_KEY]
API_KEY_HEADER=[API_KEY_HEADER]

POSTGRES_USER=[POSTGRES_USER]
POSTGRES_PASSWORD=[POSTGRES_PASSWORD]
IDENTIDADE_TOKEN_DB_NAME=[IDENTIDADE_TOKEN_DB_NAME]
IDENTIDADE_TOKEN_DB_URL=[IDENTIDADE_TOKEN_DB_URL]

JWT_ENRIQUECIDO_PRIVATE_KEY_PATH=[JWT_ENRIQUECIDO_PRIVATE_KEY_PATH]
JWT_ENRIQUECIDO_PUBLIC_KEY_PATH=[JWT_ENRIQUECIDO_PUBLIC_KEY_PATH]
JWT_ENRIQUECIDO_KID=[JWT_ENRIQUECIDO_KID]
JWT_ENRIQUECIDO_ALGORITMO=[JWT_ENRIQUECIDO_ALGORITMO]
JWT_ENRIQUECIDO_TTL_SEGUNDOS=[JWT_ENRIQUECIDO_TTL_SEGUNDOS]